name: Release VSIX

on:
  push:
    tags: 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2
    
    - name: Clean install NPM packages
      run: npm ci
      
    - name: Install VS Code extension tool
      run: sudo npm install -g vsce
    
    - name: Package extension
      run: vsce package
    
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}

    - name: Upload VSIX to release
      uses: actions/upload-release-asset@1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hosts-helper-*.vsix
        asset_name: hosts-helper.vsix
        asset_content_type: application/vsix
